/* CSS classes you can use on your table td to display the relevant tile */
td.unopened {
  background: url('img/unopened.svg');
  cursor: pointer;
}
td.opened {
  background: url('img/opened.svg');
}
td.pressed {
  background: url('img/opened.svg');
}
td.flagged {
  background: url('img/flag.svg');
}
td.question {
  background: url('img/question.svg');
}
td.mine {
  background: url('img/mine.png');
}
td.mine-neighbour-1 {
  background: url('img/1.svg');
}
td.mine-neighbour-2 {
  background: url('img/2.svg');
}
td.mine-neighbour-3 {
  background: url('img/3.svg');
}
td.mine-neighbour-4 {
  background: url('img/4.svg');
}
td.mine-neighbour-5 {
  background: url('img/5.svg');
}
td.mine-neighbour-6 {
  background: url('img/6.svg');
}
td.mine-neighbour-7 {
  background: url('img/7.svg');
}
td.mine-neighbour-8 {
  background: url('img/8.svg');
}
table {
  table-layout: fixed;
  margin: 0;
}

/* Positioning the Minesweep table and make sure the cells are square */
body {
  margin-top: 50px;
}
table #minesweeper {
  margin-top: 3em;
  border-collapse: collapse;
}
table #minesweeper td {
  width: 24px;
  height: 24px;
  background-size: cover;
}
/* Width of wrap and table are dynamically changed depending on the tiles in the generate js */
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 12px;
  background-color: #BDBDBD;
  box-sizing: content-box;
}
#minesweeper-header {
  display: flex;
  justify-content: space-between;
  padding: 6px 12px;
  background-color: #C0C0C0;
  margin-bottom: 12px;
}
#minesweeper{
  box-sizing: content-box;
}
.counter {
  background-image: url('/img/sprite.gif');
  width: 13px;
  height: 23px;
}
.face {
  background-image: url('/img/sprite.gif');
  width: 26px;
  height: 26px;
}
.facesmile {
  background-position: 0 -55px;
}
.facepressed {
  background-position: -26px -55px;
}
.facesuprised {
  background-position: -52px -55px;
}
.facedead {
  background-position: -78px -55px;
}
.facewin {
  background-position: -104px -55px;
}
.minesweeper-border {
  border-top: 2px solid #7B7B7B;
  border-left: 2px solid #7B7B7B;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}
.minesweeper-border-inverse {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #7B7B7B;
  border-right: 2px solid #7B7B7B;
}